<!DOCTYPE html>
<html lang="en">
<head>
    <!-- configurações da página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jane Doe</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- conteúdo visível para o usuário     -->

<header>

    <h1>Jane Doe</h1>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="music.html">Music</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

</header>

<main>
    <section>

    <section id="banner"></section>
    <section id="concept">
        <h2>Concept</h2>
        <p><strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</strong> Cum placeat <abbr title="Digital House">DH</abbr> tempore necessitatibus consectetur et saepe quo velit dicta voluptate, maiores ducimus recusandae, sapiente iure dolorem facilis sint optio ex ut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat assumenda aperiam illo ad quos error alias maxime reiciendis tempora dolores natus ea, sed temporibus numquam iusto fugit in placeat dolorum neque itaque culpa adipisci. Mollitia, deserunt maxime provident voluptates autem excepturi tempora, amet atque ut perspiciatis neque ad magni dolor voluptatibus est. Repellat repudiandae quidem dolores praesentium ipsa tempora quos provident iste. Fugit labore dolorum cumque? Modi vitae omnis repellat aliquam, minima totam? Nobis optio alias ipsam amet velit ab quidem, praesentium possimus dicta esse dolorum distinctio illum dignissimos hic?</p>
    

    </section>
    <section class="duas-colunas" id="songs">
        <div> <img src="../img/ilustra.png" alt="ilustra celular tocando música!">
        </div>
        <div>
            <ol>
                <li><strong>Organic Love</strong> | 02:40</li>
                <li><strong>Twist In My Reality</strong> | 02:10</li>
                <li><strong>Street Light</strong> | 03:28</li>
                <li><strong>Love Don’t Live Here Anymore (Cover)</strong> | 03:49</li>    
            </ol>

        </div>
    </section>

    <!-- <img src="../img/jane.jpg" alt="Foto da Jane"> -->
</main>







<footer>
    <p>Copyright - Jane Doe</p>

</footer>

</body>
</html>