<!DOCTYPE html>
<html lang="en">
<head>
    <!-- configurações da página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jane Doe - Music</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- conteúdo visível para o usuário     -->

<header>

    <h1>Jane Doe</h1>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="music.html">Music</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

</header>

<main id="Music">
    <section class="corpo">
        <h2>Music</h2>

        <div>
            <video src="https://vimeo.com/135166028"></video>
            <p>Organic Love | 02:40</p>
            <p>Twist In My Reality | 02:10</p>
            <p>Street Light | 03:28</p>
            <p>Love Don’t Live Here Anymore (Cover) | 03:49</p>    
        </div>
        <div>
            <video src="https://vimeo.com/134861419"></video>
        
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART</p>
            <p>Wix Films LTD</p>

        </div>
        <div>

        </div>

    </section>

</main>

<footer>
    <p>Copyright - Jane Doe</p>

</footer>

</body>
</html>